body {
  padding-top: 32px;
  padding-left: 40px;
  width: 1440px;
  height: 601px;
}
ul {
  width: 60px;
  height: 24px;
  padding: 0%;
  
  }
  .menu {
    list-style: none;
    text-align: left;
    

  }
  li {
    padding: 0px;
  }
  
  .eli {
    color:#128410;
    text-decoration: none;
    padding:0%

  ;
  
  }
  .active {
  color:red;
  }
p {
  text-align: center;
}
kira1 {
  width: 60px;
height: 60px;
flex-shrink: 0;
}
kira2 {
  width: 60px;
height: 60px;
flex-shrink: 0;
}
kira3 {
  width: 60px;
height: 60px;
flex-shrink: 0;
}